.App {
  text-align: center;
  width: 800px;
  background-color: whitesmoke;
  padding: 10px 30px;
  border-radius: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#4890bd99;
}

